---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";


type ServicesProps = {
    title: string;
    description: string;
    icon: string;
    link?: string;
};


---

<section id="services" class="py-20 md:py-24">
    <Container className="space-y-16 md:space-y-20">
        <div class="text-center max-w-3xl mx-auto space-y-6">
            <Title>
                Services We Offer
            </Title>
            <Paragraph>
                Our social media services are designed to help Diva Jewellery build awareness, grow engagement, and increase conversions.
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-10 xl:gap-12">
            {
                    services.map((service: ServicesProps) => {
                    return (
                            <Service title={service.title} description={service.description} icon={service.icon} link={service.link}>
                            </Service>
                            );
                    })
            }
        </div>
    </Container>
</section>